
.vs/

.vscode/

__pycache__/

*.pyc

control.err.log

docs/restricted/Traeger-Smoke-P-Setting.png

docs/restricted/Traeger-Wiring.PNG

docs/restricted/Wiring-Diagram.pptx

local/

PiFire.code-workspace

settings.json

templates/backups/data.html.chartjs-graph

templates/backups/data.html.circle-graph

templates/backups/data.html.circle-no-graph

templates/backups/data.html.original

templates/backups/history.html.backup

templates/backups/index.html.chartjs-graph

templates/backups/index.html.circle-graph

templates/backups/index.html.circle-no-graph

templates/backups/index.html.original

templates/backups/test.html

test.json
